@font-face {
  font-family: "iconfont"; /* Project id 3142252 */
  src: url('./iconfont/iconfont.woff2?t=1647489387980') format('woff2'),
       url('./iconfont/iconfont.woff?t=1647489387980') format('woff'),
       url('./iconfont/iconfont.ttf?t=1647489387980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e613";
}

.icon-icon-zhanghao:before {
  content: "\e830";
}

.icon-daohang:before {
  content: "\e77d";
}

.icon-taiyang-xuanze:before {
  content: "\e62b";
}

.icon-taiyang:before {
  content: "\e663";
}

.icon-tianjia:before {
  content: "\e600";
}

.icon-daka:before {
  content: "\e629";
}

.icon-8tupian-1:before {
  content: "\e66a";
}

.icon-aite:before {
  content: "\e69b";
}

.icon-biaoqing:before {
  content: "\e612";
}

.icon-biaoqing1:before {
  content: "\e918";
}

.icon-yonghu:before {
  content: "\e652";
}

.icon-lock:before {
  content: "\f03a";
}

.icon-nicheng:before {
  content: "\e658";
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-github:before {
  content: "\e885";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-pinglun:before {
  content: "\e614";
}

.icon-dianzan:before {
  content: "\e607";
}

